table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 70%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2vw;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
